<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></head>
<body>
<div class="container">
    <h1>Calculator</h1>
    <div style="clear: both"></div><br />

    <div class="alert alert-success" role="alert">
        Current Value: {{ result }}
    </div>

    <form method="POST" action="/calculate-result">
        {% if result %}
            <input type="hidden" name="inputValue[0]" value="{{ result }}" />
            <input type="hidden" name="operation[0]" value="add" />
        {% endif %}

        {% for i in 1..10 %}
            <div class="form-row">
                <div class="col-md-2">
                    <select class="form-control" name="operation[{{ i }}]">
                        <option value="add">+</option>
                        <option value="minus">-</option>
                        <option value="divide">/</option>
                        <option value="multiply">*</option>
                        <option value="and">AND</option>
                        <option value="or">OR</option>
                    </select>
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="inputValue[{{ i }}]" class="form-control" placeholder="Input {{ (i+1) }}">
                </div>
            </div>
            <div style="clear: both"></div><br />
        {% endfor %}
        <div style="clear: both"></div><br />
        <div style="clear: both"></div><br />
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary btn-block">=</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning btn-block" href="/calculate" role="button">Reset</a>
            </div>
        </div>
        <div style="clear: both"></div><br /><br />
    </form>
</div>
</body>
</html>